@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/LOGO2.png" width="197" height="184" />
    <h2>The Bangalore Science Forum(Regd.)(Estd. 1962)</h2>
    <h4>Founder: Padmabushana Late Dr. H. Narasimhaiah</h4>
    <h3>Golden Jubilee Year - 2012</h3>
    <p class="lead"></p>
    <p>
        @Html.ActionLink("Learn more", "About", "Home", null, new { @class = "btn btn-primary btn-large" })
    </p>

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>