@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title.</h2>
<hr />
<img src="~/LOGO2.png" width="197" height="184" />
<h2>The Bangalore Science Forum(Regd.)(Estd. 1962)</h2>
<h4>Founder: Padmabushana Late Dr. H. Narasimhaiah</h4>
<h3>Golden Jublee Year - 2012</h3>

<p>Use this area to provide additional information.</p>
