@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>
<hr />
<h4>Address.</h4>
<address>
    The National College Buldings,<br />
    Pampa Mahakavi Road,<br />
    Basavanagudi, Bangalore - 04<br />
    <abbr title="Phone">P:</abbr>

</address>

<address>

</address>